* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	font-family: "open sans", arial, serif;
	font-weight: lighter;
	font-size: .875rem;
	color: #4A4A4A;
}

/*TEXT STYLES*/

h1 {
	text-align: center;
	font-family: "open sans", arial, serif;
	font-weight: lighter;
	color: #4A4A4A;
	font-size: 1.75rem;
}

.h1-v2 {
	color: #fff;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 2rem;
	text-align: left;
}

.h1-v3 {
	font-size: 1.6rem;
	font-weight: bold;
	color: #fff;
}

h2 {}

h3 {}

h4 {
	color: #4A4A4A;
}

a {
	text-decoration: none;
	color: #085EB9;
}

/*p as subhead for body content*/

.p-sub {
	text-align: center;
	font-weight: bold;
	color: #fff;
}

/*Body text used in PLAYSTATION Content Block*/

.p-v2 {
	font-weight: lighter;
	color: #fff;
	font-size: 1rem;
	text-align: left;
}

/* Components */

/* HEADER COMPONENT */

.header-navigation {
	background-color: #003b63;
	padding: 1.5rem 1rem;
	border-bottom: solid 7px #91d5e8;
}

.header-navigation--container {
	display: flex;
	max-width: 60rem;
	margin: 0 auto;
	color: #fff;
}

.header-navigation--logo {
	display: inline-block;
	flex-grow: 1;
}

#E3 {
	padding-left: 20px;
	padding-bottom: 5px;
}

#lang-fr {
	padding-top: 18px;
}

/* Hero */

.hero {
	color: #fff;
	flex: 1;
	background-color: #003b63;
	padding-bottom: 8px;
	border-bottom: solid 7px #91d5e8;
}

.hero--container {
	display: flex;
}

.hero--lockup {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	text-align: center;
}

.lockup-image-container {
	padding-top: 20%;
	padding-bottom: 2rem;
}

.hero--lockup-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.hero--lockup-content .--main-heading {
	flex-grow: 1;
}

.hero--lockup-content .--sub-heading {
	padding-top: 5rem;
}

.hero--left-thumb {
	max-width: 35rem;
}

.hero--left-thumb img {
	top: 6rem;
}

.hero--right-thumb img {
	top: -4rem;
}

.hero--left-thumb img, .hero--right-thumb img {
	width: 100%;
	position: relative;
}

.hero--right-thumb {
	overflow: hidden;
	max-width: 35rem;
}

/* Grid Content */

.grid-container {
	display: flex;
}

.grid-item {
	flex: 1;
	margin: .25rem;
}

/* Page Section */

.page-section {
	margin: 0 auto;
	max-width: 60rem;
}

.page-section .page-section--heading h1 {
	text-align: center;
	font-family: "open sans", arial, serif;
	font-weight: lighter;
	color: #4A4A4A;
	font-size: 1.75rem;
	padding: 35px;
}

.page-section .page-section--content {}

/* Card Component */ 
.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.card--container {
	padding: 10px 16px;
	background-color: #F5F5F5;
}

/*FLEX GRID STYLES*/

.flex-grid {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	height: 20rem;
	margin: auto;
}

.col {
	flex: 1;
}

.flex-grid-halves {
	display: flex;
	padding: 5px;
	margin: 0 auto;
}

.flex-grid-halves .col {
	flex: 1;
}

.col-image {
	width: 100%;
}

.flex-grid-thirds {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	height: 100%;
	margin: 0 auto;
}

.flex-grid-thirds .col {
	border: solid 0px gray;
	margin: 5px;
	align-items: center;
}

/*HERO STYLES*/

/*NAVIGATION & FOOTER STYLES*/

.content-box {
	background-color: #fff;
	width: 200px;
	height: 167px;
	padding-top: 20px;
	text-align: center;
}

.footer {
	background-color: #003b63;
	width: 100%;
	margin-top: 38px;
	padding-top: 50px;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	align-items: center;
	justify-content: center;
}

/*PRE-ORDER TITLES BY CONSOLE*/

.box {
	height: 100px;
	padding: 1rem;
	text-align: center;
}

.box-logo {
	margin-top: 1rem;
	height: 3rem;
}

#ps-box {
	background-color: #11519B;
}

#xbox-box {
	background-color: #62BB46;
}

#nintendo-box {
	background-color: #E52634;
}

#ps-logo {}

#xbox-logo {}

#nintendo-logo {}

/*PRE-ORDER LATEST GAMES*/

.preorder-latest {
	padding-bottom: 2rem;
}

/* Add some padding inside the card container */



/*PLAYSTATION CONTENT*/

.playstation-content {
	background: linear-gradient( rgba(98, 187, 0, 0.8), rgba(98, 187, 0, 0.8)), url(Assets/Desktop/PSblock/Image.jpg);
	background-size: cover;
	background-blend-mode: multiply;
	padding-top: 4rem;
	padding-left: 10px;
	padding-right: 10px;
	word-break: break-word;
}

#play {
	padding-left: 30%;
	padding-bottom: 10%;
	margin: 0 auto;
}

.content-box {
	background-color: #fff;
	width: 100%;
	height: 167px;
	padding-top: 20px;
	text-align: center;
}

#ps-product {
	margin: 0 auto;
	padding-bottom: 10px;
}

/*FAQ*/

ul {
	width: 100%;
	margin-left: 14.25rem;
	list-style: none;
}

li {
	list-style: none;
}

hr {
	margin-top: .5rem;
	margin-bottom: .7rem;
	opacity: .25;
}

#chevron {
	float: right;
	padding-right: 1.5rem;
	padding-top: .5rem;
}

/*PLACEHOLDER STYLES*/

.placeholder-box {
	width: 305px;
	height: 150px;
	text-align: center;
	margin: auto;
}

#placeholder-p {
	padding-top: 10%;
}

.card-with-text {
	position: relative;
	color: #fff;
	margin: .25rem;
}

.image-container {
	width: 100%;
}

.card-text {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1rem;
}

.card-text h1 {
	text-align: left;
	color: #fff;
}

/*mobile phones*/

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

@media only screen and (max-width: 768px) {
	.page-section {
		max-width: 40rem;
		padding: 0 2rem;
	}
	/* Grid Content */
	.grid-container {
		flex-direction: column;
	}
	.header-navigation--container {
		width: 100%;
		margin: auto;
		border: none;
	}
	.header-navigation {
		border: none;
		padding: 1rem;
	}
	.language {
		padding: 0;
	}
	.hero--container {
		flex-direction: column-reverse;
	}
	.hero--lockup {
		text-align: left;
		padding-left: 1rem;
	}
	.hero--lockup-content .--sub-heading {
		display: none;
	}
	.lockup-image-container {
		padding-top: 0;
	}
	.hero--right-thumb {
		display: none;
	}
	.hero--left-thumb {
		overflow: hidden;
	}
	.hero--left-thumb img {
		top: 5rem;
		left: -5rem;
		transform: scale(.7) rotate(-20deg);
	}
	.hero {
		padding: 1rem 1rem 0 0;
	}
	.hero-small {
		display: none;
	}
	.flex-grid-halves {
		flex-direction: column;
	}
	.flex-grid-thirds {
		display: block;
	}
	.box {
		height: 50px;
		padding: 1rem;
		text-align: center;
	}
	.box-logo {
		margin-top: 0;
		height: 2rem;
	}
	.footer {}
	/*	.flex-grid, .hero, #hero-p, .flex-grid-halves, .flex-grid-thirds, .main-nav,  .hero, #hero--lockup, .playstation-content{
		display: block;
		margin: auto;
		width: 375px; 

	}*/
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {}

/*
@media handheld, only screen and (max-width: 767px) {
    #homemain {
    line-height: 15px;
    background-color: transparent;
    height: 500px;
    width:600px;
    max-width: 320px; /* or whatever size you want 
    float: left;
    padding: 10px;
    font-size: 100%;
    margin: 10px;
    word-wrap: break-word;
    }
}
*/

}