* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	font-family: open sans, arial, serif;
	font-weight: lighter;
	font-size: .875rem;
	color: #4A4A4A;
}

/*TEXT STYLES*/

h1 {
	text-align: center;
	font-family: open sans, arial, serif;
	font-weight: lighter;
	color: #4A4A4A;
	font-size: 1.75rem;
	white-space: nowrap;
}

.h1-main {
	text-align: center;
	font-family: open sans, arial, serif;
	font-weight: lighter;
	color: #4A4A4A;
	font-size: 1.75rem;
	padding: 35px;
	white-space: nowrap;
}

.h1-v2 {
	color: #fff;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 2rem;
	text-align: left;
}

.h1-v3 {
	font-size: 1.6rem;
	font-weight: bold;
	color: #fff;
}

h2 {}

h3 {}

h4 {
	color: #4A4A4A;
}

a {
	text-decoration: none;
	color: #085EB9;
}

p {}

/*p as subhead for body content*/

.p-sub {
	text-align: center;
	font-weight: bold;
	color: #fff;
}

/*Body text used in PLAYSTATION Content Block*/

.p-v2 {
	font-weight: lighter;
	color: #fff;
	font-size: 1rem;
	text-align: left;
}

/*FLEX GRID STYLES*/

.flex-grid {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	height: 20rem;
	margin: auto;
}

.col {
	flex: 1;
}

.hero {
	color: #fff;
	flex: 1;
	background-color: #003b63;
	padding-bottom: 8px;
	border-bottom: solid 7px #91d5e8;
}

.hero-content {
	display: flex;
}

.flex-grid-halves {
	display: flex;
	padding: 5px;
	max-width: 60rem;
	margin: 0 auto;
}

.flex-grid-halves .col {
	flex: 1;
}

.col-image {
	width: 100%;
}

.flex-grid-thirds {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	height: 100%;
	max-width: 60rem;
	margin: 0 auto;
}

.flex-grid-thirds .col {
	border: solid 0px gray;
	margin: 5px;
	align-items: center;
}

/*HERO STYLES*/

.blue-bar {
	position: absolute;
	display: block;
	background-color: #91d5e8;
	height: 7px;
	width: 100vw;
	margin-top: 40px;
}

.hero-lockup {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	text-align: center;
}

.lockup-image-container {
	padding-top: 20%;
}

.hero-lockup-text-block {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.hero-lockup-text-block .--main-heading {
	flex-grow: 1;
}

#hero-lockup {
	display: block;
	position: relative;
	margin: auto;
	padding-left: 405px;
	padding-top: 12rem;
	padding-bottom: 50px;
	transform: scale(1.15);
}

#hero-p {
	letter-spacing: .025rem;
	text-align: center;
	white-space: nowrap;
}

#hero-small {
	letter-spacing: .025rem;
	font-size: .75rem;
	text-align: center;
	padding-top: 50px;
	white-space: nowrap;
}

.left-thumb {
	max-width: 35rem;
}

.left-thumb img {
	top: 6rem;
}

.right-thumb img {
	top: -4rem;
}

.left-thumb img, .right-thumb img {
	width: 100%;
	position: relative;
}

.right-thumb {
	overflow: hidden;
	max-width: 35rem;
}

/*NAVIGATION & FOOTER STYLES*/

.logo {
	display: inline-block;
	flex-grow:1;
}

#E3 {
	padding-left: 20px;
	padding-bottom: 5px;
}

#lang-fr {
	padding-top: 18px;
}

/*003b63*/

.main-nav {
	background-color: #003b63;
	padding: 1.5rem 1rem;
	border-bottom: solid 7px #91d5e8;
}

.main-nav-bar {
	display: flex;
	max-width: 60rem;
	margin: 0 auto;
	color: #fff;
}

.content-box {
	background-color: #fff;
	width: 200px;
	height: 167px;
	padding-top: 20px;
	text-align: center;
}

.footer {
	background-color: #003b63;
	width: 100%;
	height: 300px;
	margin-top: 38px;
	padding-top: 50px;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	align-items: center;
	justify-content: center;
}

/*PRE-ORDER TITLES BY CONSOLE*/
.box {
	height: 100px;
	padding: 1rem;
	text-align: center;
}

.box-logo {
	margin-top: 1rem;
	height: 3rem;
}

#ps-box {
	background-color: #11519B;
	margin: 0 auto;
}

#xbox-box {
	background-color: #62BB46;
}

#nintendo-box {
	background-color: #E52634;
}

#ps-logo {
}

#xbox-logo {
}

#nintendo-logo {
}

/*PRE-ORDER LATEST GAMES*/

.preorder-latest {
	padding-bottom: 2rem;
}

.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	background-color: #F5F5F5;
}

/* Add some padding inside the card container */

.container {
	padding: 10px 16px;
}

/*PLAYSTATION CONTENT*/

.playstation-content {
	background: linear-gradient( rgba(98, 187, 0, 0.8), rgba(98, 187, 0, 0.8)), url(Assets/Desktop/PSblock/Image.jpg);
	background-size: cover;
	background-blend-mode: multiply;
	padding-top: 4rem;
	padding-left: 10px;
	padding-right: 10px;
	word-break: break-word;
}

#play {
	padding-left: 30%;
	padding-bottom: 10%;
	margin: 0 auto;
}

.content-box {
	background-color: #fff;
	width: 100%;
	height: 167px;
	padding-top: 20px;
	text-align: center;
}

#ps-product {
	margin: 0 auto;
	padding-bottom: 10px;
}

/*FAQ*/

ul {
	width: 100%;
	margin-left: 14.25rem;
	list-style: none;
}

li {
	list-style: none;
}

hr {
	margin-top: .5rem;
	margin-bottom: .7rem;
	opacity: .25;
}

#chevron {
	float: right;
	padding-right: 1.5rem;
	padding-top: .5rem;
}

/*PLACEHOLDER STYLES*/

.placeholder-box {
	width: 305px;
	height: 150px;
	text-align: center;
	margin: auto;
}

#placeholder-p {
	padding-top: 10%;
}

/*mobile phones*/

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

@media only screen and (min-device-width: 375px) and (max-width: 768px) {
	#hero-lockup {
		display: block;
		position: relative;
		margin: 0;
		padding-left: 10px;
		padding-bottom: 0;
		transform: scale(1);
	}
	#hero-p {
		letter-spacing: .025rem;
		text-align: center;
		white-space: nowrap;
	}
	#hero-small {
		letter-spacing: .025rem;
		font-size: .75rem;
		text-align: center;
		white-space: nowrap;
	}
	.logo {
	}
	.main-nav-bar {
		width: 100%;
		margin: auto;
		border: none;
	}
	.main-nav {
		border: none;
		padding: 1rem;
	}
	.language {
		padding: 0;
	}
	.hero-content {
		flex-direction: column-reverse;
	}
	.right-thumb {
		display: none;
	}
	#left-thumb {
		transform: scale(.6) rotate(-20deg);
		z-index: 0;
		left: -80px;
		padding-top: 150px;
	}
	.hero {
		padding: 16px;
	}
	.hero-small {
		display: none;
	}
	.flex-grid-halves {
		display: block;
		width: 100vw;
	}
	.flex-grid-thirds {
		display: block;
		width: 100vw;
	}
	.wrapper {
		/*  */
	}
	.footer {
		height: 500px;
	}
	/*	.flex-grid, .hero, #hero-p, .flex-grid-halves, .flex-grid-thirds, .main-nav,  .hero, #hero-lockup, .playstation-content{
		display: block;
		margin: auto;
		width: 375px; 

	}*/
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {}

/*
@media handheld, only screen and (max-width: 767px) {
    #homemain {
    line-height: 15px;
    background-color: transparent;
    height: 500px;
    width:600px;
    max-width: 320px; /* or whatever size you want 
    float: left;
    padding: 10px;
    font-size: 100%;
    margin: 10px;
    word-wrap: break-word;
    }
}
*/

}