/* Global Styles */

* {
	margin: 0;
}

body {
	font-family: "open sans", arial, serif;
	font-weight: lighter;
	font-size: .875rem;
	color: #4A4A4A;
}

/*TEXT STYLES*/

h4 {
	color: #4A4A4A;
}

a {
	text-decoration: none;
	color: #085EB9;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	align-items: center;
	justify-content: center;
}

/* Components */

/* Header Component */

.header-navigation {
	background-color: #003b63;
	padding: 1.5rem 1rem;
	border-bottom: solid 7px #91d5e8;
}

.header-navigation--container {
	display: flex;
	max-width: 60rem;
	margin: 0 auto;
	color: #fff;
}

.header-navigation--logo {
	display: inline-block;
	flex-grow: 1;
}

#E3 {
	padding-left: 20px;
	padding-bottom: 5px;
}

#lang-fr {
	padding-top: 18px;
}

/* Hero Component */

.hero {
	color: #fff;
	flex: 1;
	background-color: #003b63;
	padding-bottom: 8px;
	border-bottom: solid 7px #91d5e8;
}

.hero--container {
	display: flex;
}

.hero--lockup {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	text-align: center;
	min-width: 20rem;
}

.lockup-image-container {
	padding-top: 30%;
	padding-bottom: 2rem;
}

.hero--lockup-content {}

.hero--lockup-content .--sub-heading {
	padding-top: 5rem;
}

.hero--left-thumb {
	max-width: 35rem;
}

.hero--left-thumb img {
	top: 6rem;
}

.hero--right-thumb img {
	top: -4rem;
}

.hero--left-thumb img, .hero--right-thumb img {
	width: 100%;
	position: relative;
}

.hero--right-thumb {
	overflow: hidden;
	max-width: 35rem;
}

/* Notification Bar Component */

.notification-bar {
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
}

/* Grid Component */

.grid-container {
	display: flex;
}

.grid-item {
	flex: 1;
	margin: .25rem;
}

.grid-image {
	width: 100%;
}

/* Page Section */

.page-section {
	margin: 0 auto;
	max-width: 60rem;
	padding-top: 2.5rem;
	padding-bottom: 2rem;
}

.page-section--heading .--heading-text {
	text-align: center;
	font-family: "open sans", arial, serif;
	font-weight: lighter;
	color: #4A4A4A;
	font-size: 1.75rem;
	padding-bottom: 2rem;
}

/* Card Component */

.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.card--container {
	padding: 10px 16px;
	background-color: #F5F5F5;
}

/* Card Overlay Text Component */

.card-text-overlay {
	position: relative;
	color: #fff;
	margin: .25rem;
}

.card-text-overlay .--image-container {
	width: 100%;
}

.card-text-overlay .--text-container {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1rem;
}

/* Section Specific Styles */

/*PRE-ORDER TITLES BY CONSOLE*/

.box {
	height: 100px;
	padding: 1rem;
	text-align: center;
}

.box-logo {
	margin-top: 1rem;
	height: 3rem;
}

.box-subtitle {
	text-align: center;
	font-weight: bold;
	color: #fff;
}

#ps-box {
	background-color: #11519B;
}

#xbox-box {
	background-color: #62BB46;
}

#nintendo-box {
	background-color: #E52634;
}

/*PLAYSTATION CONTENT*/

.playstation-content {
	background: linear-gradient( rgba(98, 187, 0, 0.8), rgba(98, 187, 0, 0.8)), url(Assets/Desktop/PSblock/Image.jpg);
	background-size: cover;
	background-blend-mode: multiply;
	padding: 4rem .5rem;
	word-break: break-word;
}

.playstation-heading {
	color: #fff;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 2rem;
	text-align: left;
}

.playstation-subtitle {
	font-weight: lighter;
	color: #fff;
	font-size: 1rem;
	text-align: left;
}

#play {
	padding-left: 30%;
	padding-bottom: 10%;
	margin: 0 auto;
}

.content-box {
	background-color: #fff;
	width: 100%;
	height: 167px;
	padding-top: 20px;
	text-align: center;
}

.content-box --image {
	margin: 0 auto;
	padding-bottom: 10px;
}

/*FAQ*/

.faq-list {
	width: 100%;
	list-style: none;
	padding: 0;
}

.faq-list li {
	list-style: none;
}

hr {
	margin-top: .5rem;
	margin-bottom: .7rem;
	opacity: .25;
}

#chevron {
	float: right;
	padding-right: 1.5rem;
	padding-top: .5rem;
}

/* Footer */

.footer {
	background-color: #003b63;
}

/*mobile phones*/

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

@media only screen and (max-width: 768px) {
	/* Header Component */
	.header-navigation--container {
		width: 100%;
		margin: auto;
		border: none;
	}
	.header-navigation {
		border: none;
		padding: 1rem;
	}
	.language {
		padding: 0;
	}
	/* Hero Component */
	.hero {
		padding: 1rem 0 0 0;
		border: none;
	}
	.hero--container {
		flex-direction: column-reverse;
	}
	.hero--lockup {
		min-width: 0;
		text-align: left;
		padding-left: 1rem;
	}
	.lockup-image-container {
		padding-top: 0;
	}
	.hero--right-thumb {
		display: none;
	}
	.hero--left-thumb {
		overflow: hidden;
	}
	.hero--left-thumb img {
		top: 5rem;
		left: -5rem;
		transform: scale(.7) rotate(-20deg);
	}
	/* Notification Bar Component */
	.notification-bar {
		background: #91d5e8;
		padding: 1rem;
		text-align: left;
	}
	/* Page Section Component */
	.page-section {
		max-width: 40rem;
	}
	/* Grid Component */
	.grid-container {
		flex-direction: column;
	}
	.box {
		height: 50px;
		padding: 1rem;
		text-align: center;
	}
	.box-logo {
		margin-top: 0;
		height: 2rem;
	}
}